@font-face {
  font-family: "Computer Modern";
  src: url('cmu/cmunss.ttf');
}

@font-face {
  font-family: "Computer Modern";
  src: url('cmu/cmunsx.ttf');
  font-weight: bold;
}

@font-face {
  font-family: "Computer Modern";
  src: url('cmu/cmunsi.ttf');
  font-style: italic;
}

@font-face {
  font-family: "Computer Modern";
  src: url('cmu/cmunbxo.ttf');
  font-weight: bold;
  font-style: italic;
}

html, body {
    height: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
    background-color: lightgrey;
    font-family: "Computer Modern", sans-serif;
}

h1 {
    padding : 20px;
}

pre {
    background-color: lightgrey;
    padding: 10px;
}

.wideImg {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 0;
    margin-bottom: 0;
    margin: auto;
    padding: 0;
    width: 60%;
    min-height: 100%;
    box-sizing: border-box;
    background-color: white;
    border-left: solid;
    border-right: solid;
}

#sectionsWrapper {
    display: flex;
    flex-direction: row;
}

#navBar {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#leftPadding {
    width: 20px;
}

#rightPadding {
    flex-grow: 1;
}

#leftPadding, .navTab, #rightPadding {
    border-bottom: solid;
    box-sizing: border-box;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.navTab {
    padding: 5px;
}

.navTab:hover {
    cursor: pointer;
    color: grey;
    border-color: black;
}

.navTab.selected {
    box-sizing: border-box;
    border-top: solid;
    border-left: solid;
    border-right: solid;
    border-bottom: none;
}

.sectionDiv {
    width: 100%;
    padding: 20px;
    display: none;
}

.sectionDiv.currentSection {
    font-size : 18px;   
    display: block;
}

.sectionDiv.currentSection h2 {

}

.sectionDiv.currentSection h2 {

}

#animationContainer {
    overflow: hidden;
    height: 600px;
    margin: 0;
    padding: 0;
}

#animationIFrame {
    overflow: hidden;
    border: none;
    width: 100%;
    height: 100%;
}