html, body {
    height: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 0;
    margin-bottom: 0;
    margin: auto;
    padding: 20px;
    width: 60%;
    min-height: 100%;
    box-sizing: border-box;
    background-color: white;
    border-left: solid;
    border-right: solid;
}

.sectionDiv div {
    padding: 10px;
}

#navBar {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.navTab {
    padding: 5px;
    border-bottom: solid;
    box-sizing: border-box;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.navTab:hover {
    cursor: pointer;
    color: grey;
    border-color: black;
}

.navTab.selected {
    box-sizing: border-box;
    border-top: solid;
    border-left: solid;
    border-right: solid;
    border-bottom: none;
}

.sectionDiv {
    display: none;
}

.sectionDiv.currentSection {
    font-size : 18px;   
    display: block;
}

.sectionDiv.currentSection h2 {

}

.sectionDiv.currentSection h2 {

}

#animationContainer {
    overflow: hidden;
    height: 600px;
    margin: 0;
    padding: 0;
}

#animationIFrame {
    overflow: hidden;
    border: none;
    width: 100%;
    height: 100%;
}