html, body {
  margin: 0;
  padding: 0;
}

.dynaButton {
    background: transparent;
    border: none;
    font-size: 32px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#playButtons {
    position: absolute;
    bottom: 0;
    padding: 20px;
    width: 100%;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

#playButtons, #playButtons * {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.playIcon {
    width: 92px;
    height: 64px;
}

.playIcon:hover, .dynaButton:hover {
    filter: opacity(50%);
}